.browse {
    margin-top: 0px;
}

/* toolbar */
.browse__toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px;
    border-bottom: 1px solid var(--clr-lightgrey);
    flex-wrap: wrap;
    gap: 6px;

}

.browse__toolbar label {
    width: 66px;    
}

.browse__toolbar select {
    width: 180px;    
}

.browse__toolbar input {
    width: 180px;    
}

.labelWrapper {      
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: baseline;
}

.browse__toolbar__inputwrapper {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

/* toolbar end */

.browse__grid {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

/* cards */
.browse__card {
    cursor: pointer;
    container-type: inline-size;
    container-name: card;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-lightgrey);
    box-shadow: 0 4px 8px 0 var(--clr-shadow);
    transition: 0.3s;
    border-radius: 5px;
}

.browse__card .votecounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.browse__card .votecounts span {
    border: 1px solid var(--clr-lightgrey);
    padding: 4px;
}

.browse__card__img {
    border: 2px solid var(--clr-lightgrey);
    width: 50%;
    border-radius: 5px;
}

.browse__grid__titleWrapper {
    display: grid;
    grid-template-columns: 30px 1fr;
}

/* cards end */

@container card (min-width: 200px) {
    .browse__card__img {
        border: 2px solid var(--clr-dark);
    }
}

@media (min-width: 700px) {
    .browse__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
}

@media (min-width: 1024px) {

    .browse {
        margin-top: var(--height-nav);
    }

    .browse__toolbar label {
        width: inherit;    
    }

    /* toolbar */
    .browse__toolbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 6px;
        border-bottom: 1px solid var(--clr-lightgrey);
        flex-wrap: wrap;
        gap: 12px;
    }

    .browse__grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;
    }

}