.divisionDetails {
    height: 100%;
}

.divisionDetails__title {
    padding: .5em;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divisionDetails__title-wrapper {
    display: flex;
    gap: 1em;
}

.divisionDetails__title__date {
    margin-top: 8px;;
}

.divisionDetails__list__wrapper {    
    height: calc(100dvh - var(--height-nav)); 
    overflow-x: auto;
    display: flex;
    padding: 1em;    
}

.divisionDetails__list {    
    flex: 1;
    min-width: 180px;
    overflow: hidden;
}

.divisionDetails__options {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1em;
    padding: .5em;
}

/* lg */
@media (min-width: 1024px) {
    .list {
      margin-left: 20px;      
    }
  }