.insights {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.labelwrapper {    
    display: flex;
    align-items: baseline;
}
 /* TODO probably should be a grid */
.insights__query {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
    padding-bottom: 1em;
}

.fixedLabel {
    width: 80px;
}

.insights__result {
    flex-grow: 1;
    padding: .5em;
    border-top: 1px solid var(--clr-light-other);
    border-bottom: 1px solid var(--clr-light-other);
}

.insights__result > table {
    width: 100%;
}


.insights__select {
    margin-left: 8px;
    margin-right: 8px;
}

.insights__config {    
    padding: 1em;
    display: flex;
    align-items: center;    
    gap: 8px;    
}

@media (min-width: 1024px) {
	.insights {
		margin-top: var(--height-nav);
	}

    .insights__query {
        padding: 1em;
        display: flex;
        align-items: baseline;
        gap: 8px;
        padding-bottom: 1em;
    }
    
}