nav.navbar {    
    display: flex;    
    align-items: center;
    justify-content: space-around;
    padding: .5em .5em .5em 1em;
    position: fixed;
    width: 100%;
    height: var(--height-nav);
    bottom: 0px;
    background: var(--clr-light);
    z-index: 1;
    background-color: var(--clr-light-other);  
}

.navbar__button {
    background-color: var(--clr-light)
    padding: .1em;
    border-radius: 50%;
    border: none;
}

.navbar__buttons {
    display: flex;
    gap: .5em;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  /* lg */
  @media (min-width: 1024px) {
    nav.navbar {                    
        top: 0;
    }
  }