li {
    list-style: none;
}

.votingHistory {
    display: flex;
    overflow-x: auto;
    border: 1px solid;
    gap: 1em;
}

.votingHistory__table {
    flex: 2;
};

/* .votingHistory__table th > div {
    white-space: nowrap !important;
    background: red;
} */

.divisionDetails__title {
    flex: 1;    
    padding: 1em;            
}

.cursor-pointer:hover {
    cursor: pointer;
}