li {
    list-style: none;
}

.votingHistory {
    display: flex;
    overflow-x: auto;    
    padding-left: 4px;    
    gap: 1em;    
}

.votingHistory__table {
    flex: 2;
}

.votingHistory__table__row {
    cursor: pointer;
}

.divisionDetails__title {
    flex: 1;    
    padding: 1em;            
}

.cursor-pointer:hover {
    cursor: pointer;
}

.votingHistory__table__sort {
    fill: var(--clr-accent);
    /* margin-left: 4;  */
    position: relative; 
    top: 2px;
}
