li {
    list-style: none;
}

.votingHistory {
    display: flex;
    overflow-x: auto;
    padding-left: 4px;
    padding-right: 4px;
    gap: 1em;
    overflow-x: auto;
}

.votingHistory__table {
    flex: 2;
}

.votingHistory__table__row {
    cursor: pointer;
}

.divisionDetails__title {
    flex: 1;
    padding: 1em;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.votingHistory__table__sort {
    fill: var(--clr-accent);
    position: relative;
    top: 2px;
}

.votingHistory__table-svg {
    fill: var(--clr-dark);
}

.votingHistory__table__header {
    white-space: nowrap;
    border: 1px solid var(--clr-light-other);
    position: relative;
    right: 10px;
    padding-left: 4px;    
    border-radius: 4px;
    min-width: 75px;
}

