
:root {
  font-family: 'Satoshi', sans-serif;
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
}

.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

body {  
  min-height: 100vh;  
  background: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid;  
}

header {
  border: 1px solid;  
  display: flex;
  justify-content: space-between; 

}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details {
  display: grid;
}

.details__options {
  display: flex;
  gap: 1em;
  padding: .5em;
}

img {
  width: 100%;
}

button {
  display: inline-block;  
  cursor: pointer;
  color: inherit;
}

th {
  text-align: start;
}