li {
    list-style: none;
}

.votingHistory {    
    display: flex;
    overflow-x: auto;
    border: 1px solid;
    gap: 1em;
}

votingHistory__table {
    flex: 2;
}

votingHistory__division {
    flex: 1;
}